{% extends 'base.html' %}

{% block head %}
    <title>Login Page</title>
{% endblock %}

{% block body %}
    <ul>
        <li><a href="/">Home</a></li>
        {% if session['brukernavn'] %}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/addnew">Create post</a></li>
        <li><a href="/video">Videoes</a></li>
        <li><a href="/picture">Pictures</a></li>
        <li><a href="/music">Music</a></li>
        <li style="float:right"><a href="/about">About</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/video">Videoes</a></li>
        <li><a href="/picture">Pictures</a></li>
        <li><a href="/music">Music</a></li>
        <li style="float:right"><a href="/about">About</a></li>
        {% endif %}
    </ul>

    <div class = "register">
        <form action="{{ url_for('register') }}" method = "post">
            <table>
                <th><input id ="brukernavn" name ="brukernavn" type ="text" placeholder="Enter username" class="textbox" /></th>
                <th><input id ="passord" name ="passord" type ="password" placeholder="Enter password" class="textbox" /></th>
                <th><input id ="email" name ="email" type ="text" placeholder="Enter Email" class="textbox" /></th>
                <th><input type="submit" class="btn" value="Sign up"/></th>
            </table>
        </form>
    </div>
{% endblock %}